h1{
    font-family:'Times New Roman', Times, serif
}

body {
    font-family: Arial, sans-serif;
    background-color: #cea559;
    text-align: center;
    font-size: large;
    font-weight: 300;
    margin-top: 150px;
    margin-right: 400px;
    margin-left: 350px ;
}

body img {
    width: 200px;
    height: 200px;
    float: left;
}

input#valor, #pessoas {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 135px;
    height: 21px;
    background-color: blanchedalmond;
    border-color: #f39519;

}

select#metodo {
    width: 135px;
    height: 25px;
    margin-left: 5px;
    background-color: blanchedalmond;
    border-color: #f39519;   
    border: 2px;
}

input {
    text-align: center;
    margin-top: 5px;
    width: 135px;
    height: 25px;
    background-color: blanchedalmond;
    border-color: #f39519;
}

input#gorjeta{
    width: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}